.gf-header {
    display: flex;
    justify-content: flex-end;
}
.gf-header a {
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.gf-header button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    box-shadow: none;
}


.gf-header a:hover {
    text-decoration: underline;
}
.gf-header button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gf-header a + a {
    margin: 0 12px;
}